Exercício 1 - Importe o pandas como pd.

In [1]:
import pandas as pd

Exercício 2 - Leia o arquivo Salaries.csv como um DataFrame chamado "sal".

In [2]:
sal = pd.read_csv('\databases-python\Salaries.csv')

Exercício 3 - Verifique o "head" do DataFrame.

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

Exercício 4 - Use o método .info () para descobrir quantas entradas existem.

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

Exercício 5 - Qual é o "BasePay" médio?

In [6]:
sal['BasePay'].mean()

66325.44884050643

Exercício 6 - Qual é a maior quantidade de "OvertimePay" no conjunto de dados?

In [8]:
sal['OvertimePay'].max()

245131.88

Exercício 7 - Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas).

In [12]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

Exercício 8 - Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)?

In [16]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPay']

24    270324.91
Name: TotalPay, dtype: float64

Exercício 9 - Qual o nome da pessoa mais bem paga (incluindo benefícios)?

In [21]:
sal[sal['TotalPay']==sal['TotalPay'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

Exercício 10 - Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga?

In [28]:
sal[sal['TotalPay']==sal['TotalPay'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

Exercício 11 - Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)?

In [38]:
sal.groupby(['Year']).mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

Exercício 12 - Quantos títulos de trabalho únicos existem?

In [40]:
sal['JobTitle'].value_counts().count()

2159

Exercício 13 - Quais são os 5 principais empregos mais comuns?

In [43]:
sal['JobTitle'].value_counts().head()

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

Exercício 14 - Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?)

In [89]:
sal[sal['Year']==2013]['JobTitle'].value_counts().iloc[849:].count()

202

Exercício 15 - Quantas pessoas têm a palavra Chefe em seu cargo?

In [140]:
#Minha Solução
cont = 0
for cargo in list(sal['JobTitle']):
    if 'chief' in cargo.lower():
        cont = cont + 1
        
cont

627

In [144]:
#Solução Proposta
def chief_string(texto):
    if 'chief' in texto.lower():
        return True
    else:
        return False
    
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

627

Exercício 16 - Existe uma correlação entre o comprimento da seqüência do título do trabalho e o salário?

In [148]:
sal['JobTitle Len'] = sal['JobTitle'].apply(len)

In [155]:
sal[['JobTitle Len', 'TotalPay']].corr()

              JobTitle Len  TotalPay
JobTitle Len      1.000000 -0.015356
TotalPay         -0.015356  1.000000