In [23]:
#Biblioteca para requisitar uma página de um web site
import urllib.request

In [267]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
from tabulate import tabulate

In [276]:
data = str(input('Qual a data desejada? ')) #04/08/2020
url = 'https://www2.bmf.com.br/pages/portal/bmfbovespa/boletim1/TxRef1.asp?Data='+data+'&Data1=20200804&slcTaxa=PRE'

Qual a data desejada? 03/08/2020

In [277]:
#Definir conexão com URL
with urllib.request.urlopen(url) as url:
    page = url.read()
    
#Analise o html na variável 'page' e armazene-o no formato Beutiful Soup
soup = BeautifulSoup(page, "html.parser")

In [258]:
#soup.find("input",{"id":"Data"})["value"]

In [278]:
for nome in soup.find_all('td', class_='tabelaConteudo1'):
    valorTb1 = float((nome.get_text().strip()).replace(',', '.'))
    tabelaConteudo1.append(valorTb1)
    
for nome in soup.find_all('td', class_='tabelaConteudo2'):
    valorTb2 = float((nome.get_text().strip()).replace(',', '.'))
    tabelaConteudo2.append(valorTb2)
    
TabelaConteudoFinal = tabelaConteudo1 + tabelaConteudo2
    
arrayTabelaConteudoFinal = np.array(TabelaConteudoFinal)

ar1 = arrayTabelaConteudoFinal.reshape(int(len(arrayTabelaConteudoFinal)/3), 3)

In [279]:
df = pd.DataFrame(ar1, columns=['DIAS_CORRIDOS', 'TAXA_252', 'TAXA_360'])
df.drop_duplicates(inplace=True)
df.sort_values(by=['DIAS_CORRIDOS'], inplace=True)
df.reset_index(drop=True, inplace=True)
df

     DIAS_CORRIDOS  TAXA_252  TAXA_360
0              1.0      2.15      0.00
1              7.0      2.00      2.04
2              7.0      1.99      2.03
3              8.0      1.98      2.13
4              9.0      1.99      2.21
..             ...       ...       ...
567        10801.0      7.72      7.58
568        10968.0      7.80      7.66
569        10969.0      7.72      7.58
570        12704.0      7.86      7.72
571        12705.0      7.78      7.64

[572 rows x 3 columns]