In [2]:
# Imports
import time
import numpy as np
import pandas as pd
import matplotlib as mat
from matplotlib import pyplot as plt
from sklearn.datasets import load_iris
%matplotlib inline

fontsize=14
ticklabelsize=14

In [3]:
# Carregando o Dataset
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
print(len(df))
df.head()

150

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

<title>Extração e Transformação de Dados</title>

<title></>

<h1>Extração e Transformação de Dados<h1>

Exercício 1 - Imprima os valores numéricos da Variável target (o que queremos prever), uma de 3 possíveis categorias de plantas: setosa, versicolor ou virginica

In [9]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

Exercício 2 - Imprima os valores numéricos da Variável target (o que queremos prever), uma de 3 possíveis categorias de plantas: 0, 1 ou 2

In [10]:
iris.target

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2])

Exercício 3 - Adicione ao dataset uma nova coluna com os nomes das espécies, pois é isso que vamos tentar prever (variável target)

In [14]:
df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

Exercício 4 - Inclua no dataset uma coluna com os valores numéricos da variável target

Exercício 5 - Extraia as features (atributos) do dataset e imprima

Exercício 6 - Calcule a média de cada feature para as 3 classes

<h1>Exploração de Dados<h1>

Exercício 7 - Imprima uma Transposta do dataset (transforme linhas e colunas e colunas em linhas)

Exercício 8 - Utilize a função Info do dataset para obter um resumo sobre o dataset

Exercício 9 - Faça um resumo estatístico do dataset

Exercício 10 - Verifique se existem valores nulos no dataset

Exercício 11 - Faça uma contagem de valores de sepal length

<h1>Plot<h1>

Exercício 12 - Crie um Histograma de sepal length

Exercício 13 - Crie um Gráficos de Dispersão (scatter Plot) da variável sepal length versus número da linha, colorido por marcadores da variável target

Exercício 14 - Crie um Scatter Plot de 2 Features (atributos)

Exercício 15 - Crie um Scatter Matrix das Features (atributos)

Exercício 16 - Crie um Histograma de todas as features